
<section class="faq_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq_banner_content">
          <h3>{{ section.settings.heading }}</h3>
        {{ section.settings.content }}
          <a href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "About faq",
    "settings": [
    { 
          "type": "text",
          "id": "heading",
          "label": "heading",
          "default": "heading"
    },
     { 
          "type": "richtext",
          "id": "content",
          "label": "content"
      
    },   
    { 
          "type": "text",
          "id": "button_label",
          "label": "Button label"
    },
      { 
      "type": "url",
      "id": "button_link",
      "label": "Button link"
}

],
 "presets": [
    {
      "category": "About faq",
      "name": "About Faq",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
