<section class="about_top_main">
  <div class="about_top_img">
    <img src="{{ section.settings.image | img_url:'master' }}"/>
  </div>
  <div class="about_top_content">
      <div class="about_top_head">
        <h2>{{ section.settings.heading }}</h2>
      </div>
    <div class="about_top_para">
       {{ section.settings.content }} 
      </div>
  </div>
</section>
{% schema %}
  {
    "name": "About Banner",
    "settings": [
 { 
          "type": "image_picker",
          "id": "image",
          "label": "Image"
    },
       { 
          "type": "text",
          "id": "heading",
          "label": "heading",
          "default": "heading"
    },
       { 
          "type": "html",
          "id": "content",
          "label": "content"
       }
  ],
     "presets": [
    {
      "category": "About Banner",
      "name": "About Banner",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}