  {% for block in section.blocks %}
      {%- assign porductcts = all_products[block.settings.select_product] -%}
    {% if product.title == porductcts.title %}
<div class="cst_prod">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         <div class="rte_img">
           <img src="{{ block.settings.icon_image | img_url:'master' }}">
          </div>  
        </div>
        <div class="col-md-6">
         <div class="rte_content">
			{{ block.settings.content }}
          </div> 
        </div>
      </div>
	</div>  
</div>
		{% endif %}
      {% endfor %}

{% schema %}
  {
    "name": "Product-Img-Text",
    "settings": [

],
    "blocks": [
       {
      "type": "image",
      "name": "image",
      "settings": [
{ 
      "type": "product",
      "id": "select_product",
      "label": "Select product" 
  },
    { 
      "type": "image_picker",
      "id": "icon_image",
      "label": "Intro Image" 
  }, 
{ 
      "type": "html",
      "id": "content",
      "label": "content",
      "default": "content"
}

]
}
      ],

"presets": [
    {
      "category": "Product-Img-Text",
      "name": "Product-Img-Text",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
